<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Expense Tracker</a>
                <a class="nav-link" href="/expense">All Expenses</a>
                <a class="nav-link" href="/new">New Expense</a>
            </div>
            <div class="navbar-nav ml-auto">   
                <form action="/search" method="GET">
                    <input type="date" name="date" style="width: 250px; height: 20px; border-radius: 20px;" placeholder="Search by name or date">
                    <button style="display: none;"></button>   
                </form>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<% if(message && message.length>0){ %>}
<div class="container">
	<div class="alert alert-success" role="alert">
		<%= message %>
	</div>
</div>
<% } %>